html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    color: #333;
}

body {
    background-color: #fff;
    background: url("../img/bg.png");
}

p {
    margin: 0;
}

.navbar {
    position: absolute;
    width: 100%;
    margin:0;
}

.navbar-default .navbar-brand {
    color: #557bd4;
    font-weight: bold;
}

.container {
    padding-top: 50px;
    /*display: -webkit-box;*/
    /*display: -ms-flexbox;*/
    /*display: flex;*/
    /*-webkit-box-align: start;*/
    /*-ms-flex-align: start;*/
    /*align-items: flex-start;*/
    /*position: relative;*/
    /*width: 1000px;*/
    /*padding: 50px 16px;*/
    /*margin: 10px auto;*/

}

.loginDiv {
    margin-top: 20vmin;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    position: relative;
}

.searchDiv {
    padding-top: 15vh;
}

.searchDiv input {
    display: inline-block;
    height: 45px;
    font-size: 18px;
    vertical-align: middle;
}

.searchDiv button {
    display: inline-block;
    height: 40px;
    font-size: 18px;
    vertical-align: middle;
}

.searchDiv input {
    width: 50vw;
    font-family: Microsoft YaHei;
    margin-left: 5vw;
}

.searchDiv button {
    letter-spacing: 2px;
    width: 10vw;
    min-width: 85px;
    margin-left: 5vw;
}

.searchDiv button span {
    vertical-align: text-top;
}
